$primary-text: rgb(20, 20, 20);
$main-border: rgb(237, 239, 244);
$menu-background: rgb(52, 52, 54);
$input-border: gray;
$secondary-text: gray;
$green-icon: rgb(40, 139, 71);
$main-menu-link: rgb(153, 153, 169);