/* BACKGROUND */
$menu-background: rgb(52, 52, 54);


/* BORDERS */
$input-border: gray;
$main-border: rgb(237, 239, 244);

/* TEXT */
$secondary-text: gray;
$green-icon: rgb(40, 139, 71);
$main-menu-link: rgb(153, 153, 169);
$primary-text: rgb(20, 20, 20);

/* BUTTONS */
$primary-button: rgb(40, 139, 71);
$button-border: gray;